# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intelliJ-workspace\AlgorithmsLearning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
